<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo" xmlns:gate="http://gate.ac.uk/ns/spring"
       xsi:schemaLocation="
                  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                  http://gate.ac.uk/ns/spring http://gate.ac.uk/ns/spring.xsd">


    <!-- Twitter service -->
    <bean id="twitter" factory-bean="twitterService" factory-method="getTwitter"/>

    <!-- GATE -->
    <gate:init gate-home="${gate.home}"/>

    <gate:duplicate id="classificationApp">
        <gate:saved-application location="${gate.classification}"/>
    </gate:duplicate>

    <bean id="gateProcessor" class="gate.util.LanguageAnalyserDocumentProcessor">
        <property name="analyser" ref="classificationApp"/>
        <gate:pooled-proxy max-size="10"/>
    </bean>

    <bean id="classificationWrapper" class="org.vento.service.classification.ClassificationWrapper" >
        <property name="classifier" ref="gateProcessor" />
    </bean>

    <!-- HTTP Filters -->
    <bean id="corsFilter" class="org.vento.service.filter.CorsFilter" />
</beans>